<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @notification.name %></h1>
    <p>
      You owe <%= @user.name %> money. Please pay up!<br><br>
			Sent with love via OmiCash
    </p>
  </body>
</html>