<div class="col-md-8 col-md-offset-2" style="margin-top:3%;">
	<h2>Edit Notification</h2>

	<br>
	<%= render 'form' %>
	<br>

	<%= link_to 'Cancel', @notification %> |
	<%= link_to 'View All', notifications_path %>
</div>
