<div class="col-md-8 col-md-offset-2" style="margin-top:3%;">
	<h1>Edit Notification</h1>
	<br>
	<%= render 'form' %>
	<br>

	<%= link_to 'Show', @notification %> |
	<%= link_to 'Back', notifications_path %>
</div>
